 <% provide :page_title, "New Question"%>
  <%= currently_at "New Question" %>
<div class = "m-3 me-4 border border-2 shadow">
    <h1 class = "m-3">New Questions</h1>

    <%= render 'questions_new_form' %>
</div>