 <% provide :page_title, "Main"%>
 <%= currently_at  "HomePage"%>

<div  class = "m-2 border border-5 border-start-0  border-end-0 p-3 shadow-lg">
    <h1 >This is HomePage ASKIT</h1>
    <p>Ask your question!</p>
</div>
